
:root {
    --body-bg:rgb(159, 212, 243); 
    --colorBackground: rgb(253, 252, 252, 0.822);
    --text: rgba(0, 0, 0, 0.911);
    --border: rgb(97, 255, 97);
    --IMG: url("../img/LigthMode.jpg");
    --houver: rgb(86, 176, 236);

}  
.dark-mode{
    --body-bg: black;
    --colorBackground: #46464693;
    --text: white;
    --border: rgb(185, 2, 109);
    --IMG: url("../img/DarkMode.jpg");
    --houver: rgb(252, 74, 74);
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


#darkmodebutton{
    width:5%;
    font-size: 100%;
    border: 3px solid var(--border);
    border-radius: 20px;
    background-color: var(--colorBackground);
    color: var(--text);
    padding: 5px 5px;
    margin: 10px;
    text-align: center;

    

}

body {

    background-image: var(--IMG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Roboto, "Helvetica Neue", sans-serif;  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li, p{
    text-align: left;

}
.container-flex1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-flex{
    justify-content: center;
    flex-wrap: wrap; 
    height: 100%;
    text-align: center;   
}

.header{
    text-align: center;
    background-color: var(--colorBackground);
    border: 3px solid var(--border);
    border-radius: 30px;
    color: var(--text);
    padding: 50px 200px;
    font-family: 'Lato', sans-serif;  
}

